body{
    font-family:  'Poppins', sans-serif;
    color: rgb(164, 202, 164);
}
h1{
    font-size: 50px;
}
.orange-color{
    color: coral;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
  

}
.top-banner{
    background-image: url(images/r2.jpg);
    background-repeat: no-repeat;
}
.half-width{
    width: 40%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    background-color: orange;
    color: snow;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%;
}
header{
    text-align: center;
    background-color: rgba(255, 127, 80, 0.664);
    margin: 0 200px;
}
.papa{
    padding: 2%;
    border:1px solid darkgray;
    background-color: rgba(71, 61, 139, 0.082);
    margin: 20px;
    box-shadow: 10px 20px rgba(128, 128, 128, 0.342) ;
    
}
.mom{
    padding: 2%;
    border:1px solid darkgray;
    background-color: rgba(71, 61, 139, 0.082);
    margin: 20px;
    box-shadow: 10px 20px rgba(128, 128, 128, 0.623);
}
.fas{
    font-size: 200px;
    
}
table{
    border-collapse: collapse;
    margin: 50px 400px ;
    background-color: black;
    
}
td, th{
    border: 2px solid red;
    padding: 20px;
}
form{
    margin: 20px;
    cursor:pointer;
}

    






