body{
    font-family:  'Poppins', sans-serif;
    color: rgb(164, 202, 164);
}
h1{
    font-size: 50px;
}
.orange-color{
    color: coral;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    background-image: url(images/r2.jpg);
    background-repeat: no-repeat;

}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    height: 90%;
    padding-top: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    background-color: orange;
    color: snow;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%;
}
.family-details{
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 50px;
    
}

.mother{
    width: 300px;
    /* border: 1px solid gray; */
  
    border-radius: 5px;
    box-shadow: 4px 4px 12px gray;
}

.photo1 img{
    width: 100%;

}
.photo2 img{
    width: 50%;
    height: auto;
}
.father{
    padding: 10px;
}
.family{
    display: flex;
    /* align-items: space-around; */
    justify-content: space-around;
}




